
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/colorWars");
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/colorwars")

    <link async href="http://fonts.googleapis.com/css?family=Fredoka%20One" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

    <title>Colors Wars</title>


</head>



<body>

    <header>
        <div><h1>Color Wars</h1></div>
        <div><a class="Button1" id="OnlineOpponentStart">Find online opponent</a></div>
    </header>
    <div id="lobby-container"></div>
    <div id="game-container"></div>
</body>


</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#OnlineOpponentStart').click(function () {
            $.ajax({
                url:'@Url.Action("LobbyPartialView")',
                contentType:'application/html;charset=utf-8',
                type:'GET',
                dataType:'html'
            }).done(function(result){
                $('#lobby-container').html(result);
                lobby.setGameInitCallback( function (gameData) {

                    $.ajax({
                        url: '@Url.Action("MultiplayerGamePartial")',
                        contentType: 'application/html;charset=utf-8',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function (result) {
                        $('#game-container').html(result);
                        grid.initializeGridFromServer(gameData);
                        grid.drawDivs($('#game-grid'));
                    });
                }
                );
                })
            });
        });

</script>
